<section class="novoAluno">
  <h1>Novo Aluno</h1>
  <form [formGroup]="form" (ngSubmit)="novoAluno()" >
    <div class="inputsCima">
      <input type="text" formControlName="name" placeholder="Nome completo" required ngModel>
      <input type="email" formControlName="email" placeholder="E-mail" required ngModel>
    </div>

    <div class="inputsBaixo">
      <input type="tel" formControlName="telefone" placeholder="Telefone" ngModel mask="(00) 00000-0000">
      <input type="tel" formControlName="celular" placeholder="Celular" ngModel mask="(00) 00000-0000">
      <input type="text" formControlName="cpf" placeholder="CPF" ngModel mask="000.000.000-00"> 
      <input type="date" formControlName="date" ngModel>
    </div>

    <div class="buttons">
      <button class="botaoCancelar">
        <i class="fa-solid fa-ban"></i> Cancelar
      </button>
      <button type="submit" class="botaoAdicionar">
        <i class="fa-solid fa-floppy-disk"></i> Adicionar
      </button>
    </div>
  </form>
</section>