<section class="novoAluno">
  <h1>Novo Aluno</h1>
  <form action="">
    <div class="inputsCima">
      <input type="text" name="" placeholder="Nome completo">
      <input type="email" name="" placeholder="E-mail">
    </div>

    <div class="inputsBaixo">
      <input type="tel" name="" placeholder="Telefone">
      <input type="tel" name="" placeholder="Celular">
      <input type="number" name="" placeholder="CPF">
      <input type="date" name="">
    </div>

    <div class="buttons">
      <button class="botaoCancelar">
        <i class="fa-solid fa-ban"></i> Cancelar
      </button>
      <button type="submit" class="botaoAdicionar">
        <i class="fa-solid fa-floppy-disk"></i> Adicionar
      </button>
    </div>
  </form>
</section>