<section class="listaDeAlunos">
  <h1 (click)="retornaAlunos()">Lista de Alunos</h1>
  <div class="alunosDiv">
    <ul class="primeiraColuna">
      <li class="nome">Nome</li>
      <li class="email">E-mail</li>
      <li class="celular">Celular</li>
      <li class="telefone">Telefone</li>
      <li class="cpf">CPF</li>
      <li class="dataDeNascimento">Data de Nascimento</li>
      <li class="acoes">Ações</li>
    </ul>
    <ul class="outrasColunas">
      <li class="nomeAluno"> {{ aluno.name }} </li>
      <li class="emailAluno">E-mail</li>
      <li class="celularAluno">Celular</li>
      <li class="telefoneAluno">Telefone</li>
      <li class="cpfAluno">CPF</li>
      <li class="dataDeNascimentoAluno">Data de Nascimento</li>
      <li class="acoesAluno">Ações</li>
    </ul>
  </div>
</section>